.main-content{
	background-color: #FFF;
	padding:10px;
	font-size: 24px;
}

.main-content .amount-info-content{
	color: red;
    border: 1px solid red;
    padding: 5px;
}

.main-content .cus-bank-info-select{
	border: 1px solid #ccc;
    /*border-radius: .1rem;*/
    border-radius: 25px !important;
    /*font-size: .3rem;*/
	/*padding: .05rem .08rem;*/
	padding: 5px 10px;
	/*margin-top:.2rem;*/
	margin-top: 10px;
}

.main-content .apply-amount{
	/*margin-top:.2rem;*/
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.main-content .apply-amount-input{
	border: 1px solid #ccc;
    /*border-radius: .1rem;*/
    border-radius: 25px !important;
    /*font-size: .3rem;*/
    width: 30%;
	/*padding: .05rem .08rem;*/
	padding: 5px 10px;
}

.main-content .send-btn{
	background: linear-gradient(to right, #dccab8, #d2b496);
	font-weight:bold;
	width:100%;
	padding:10px 0px;
	text-align: center;
	/*margin-top:.2rem;*/
	margin-top: 10px;
	cursor: pointer;
	color:#fff;
	/*border-radius: .1rem;*/
    border-radius: 25px !important;
	/*font-size: .3rem;*/
}